{% load staticfiles %}


<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/animate-custom.css' %}" />
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Email</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="">
                    <strong>&laquo; Basil Jose </strong>
                </a>
                <span class="right">
                    <a href=" ">
                        <strong>9645565454</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
          
            <section>				
                <div id="container_demo" >
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="{% url 'contactview' %}" method="post">
	   <h1>Send Mail</h1>
	   
        {% for field in form %}
         {{ field.label_tag }}</br> {{ field }}</br></br>
        {% endfor %}
	
        {% csrf_token %}
		<p class="signin button"> 
		<input type="submit" value="Send Mail"/> 
		</p>
        
    </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>